/* ナレッジシステム全体のCSS */

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	text-align: left;
	background-color: #fff;
}

.container {
	margin: 15px;
}

.message {
	text-align: center;
	color: blue;
	margin: 20px;
}

.error-message {
	text-align: center;
	color: red;
}

.title {
	color: #17a2b8;
	margin: 20px;
	font-size: 1.5rem;
	font-weight: 500;
}

.head {
	text-align: right;
	margin-right: 10px;
}

.center {
	text-align: center;
}

.table {
	width: 100%;
	max-width: 100%;
	margin-bottom: 1rem;
	background-color: transparent;
	border-collapse: collapse;
	display: table;
	box-sizing: border-box;
	text-indent: initial;
	border-spacing: 2px;
	border-color: grey;
}

.table td,
.table th {
	padding: 0.75rem;
	vertical-align: top;
	border-top: 1px solid #dee2e6;
}

.table tr:nth-child(odd) {
	background: #eee;
}

.grid {
	display: grid;
	grid-template-columns: 20% 80%;
	margin-bottom: 5px;
}

.grid input,
.grid textarea,
.grid select {
	width: 80%;
	margin: 1px;
	padding: 0.375rem 0.75rem;
	font-size: 1rem;
	font-family: inherit;
	line-height: 1.5;
	border-radius: 0.2rem;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.grid textarea {
	resize: none;
}

.input {
	width: 80%;
	margin: 1px;
	padding: 0.25rem 0.5rem;
	font-size: 0.875rem;
	line-height: 1.5;
	border-radius: 0.2rem;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.input-search {
	width: 30%;
	height: 30px;
	margin: 7px 3px;
	padding: 0.25rem 0.5rem;
	font-size: 0.875rem;
	line-height: 1.5;
	border-radius: 0.2rem;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.gray-input:focus {
	background: lightgray;
}


a {
	color: #007bff;
	text-decoration: none;
	background-color: transparent;
}

.btn {
	margin: 1px;
	padding: 0.375rem 0.75rem;
	font-weight: 400;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: 0.2rem;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn.disabled,
.btn:disabled {
	pointer-events: none;
	opacity: .65;
}

.btn-sm {
	padding: 0.25rem 0.5rem;
	font-size: 0.875rem;
	line-height: 1.5;
	border-radius: 0.2rem;
}

.btn-primary {
	color: #fff;
	background-color: #007bff;
	border-color: #007bff;
}

.btn-primary:hover {
	background-color: #0b5ed7;
	cursor: pointer;
}

.btn-danger {
	color: #fff;
	background-color: #dc3545;
	border-color: #dc3545;
}

.btn-danger:hover {
	background-color: #bb2d3d;
	cursor: pointer;
}

.btn:active {
	position: relative;
	top: 3px;
}

.btn-warning {
	color: #212529;
	background-color: #ffc107;
	border-color: #ffc107;
	cursor: pointer;
}

.btn-warning:hover {
	background-color: #ffca2c;
	cursor: pointer;
}

.btn-secondary {
	color: #fff;
	background-color: #6c757d;
	border-color: #6c757d;
}

.btn-secondary:hover {
	background-color: #5c636a;
	cursor: pointer;
}

.btn-link {
	font-weight: 400;
	color: #0d6efd;
	border: 0px;
}

.btn-light {
	color: #000;
	background-color: #ececec;
	border-color: #ececec;
}

.btn-light:hover {
	background-color: #e5e5e5;
	cursor: pointer;
}

.btn-outline-primary {
	color: #007bff;
	background-color: transparent;
	border-color: #007bff;
}

.btn-outline-primary:hover {
	color: #fff;
	background-color: #007bff;
	cursor: pointer;
}

.btn-outline-danger {
	color: #dc3545;
	background-color: transparent;
	border-color: #dc3545;
}

.btn-outline-danger:hover {
	color: #fff;
	background-color: #dc3545;
	cursor: pointer;
}

.btn-outline-secondary {
	color: #6c757d;
	background-color: transparent;
	border-color: #6c757d;
}

.btn-outline-secondary:hover {
	color: #fff;
	background-color: #6c757d;
	cursor: pointer;
}